<h2>New Books</h2>
<form action = "/books" method = "POST" enctype = "multipart/form-data"> <!-- multipart could include a file (from multer pack) -->
    <%- include('_form_fields') %>
    <br>
    <br>
    <a href = "/books">Cancel</a>
    <button type = "submit">Create</button>
</form>