<br>
<h3>Books by <%= author.name %></h3>
<a href = "/authors/<%= author.id %>/edit">Edit</a>
<%- include('../partials/deleteForm', { url: `/authors/${author.id}` }) %>
<% if (booksByAuthor.length > 0) { %>
<br>
    <div>
        <% booksByAuthor.forEach(book => { %>
            <img height = "150" width = "100" src = "<%= book.coverImagePath %>">
        <% }) %>
    </div>
<% } %>